/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    padding: 20px;
    text-align: left;
}

h1{
    margin: 0%;
    padding: 0%;
    text-align: left;
}

h1, nav {
    display: inline-flex;
    vertical-align: middle;
}

nav{
    float: right;
}

ul {
    white-space: nowrap;
    list-style-type: none;
    padding: 0%;
}

ul li{
    display: inline;
    float: right;
    margin-right: 20px;
}

.overview-hero {
    background-color: #bbcfdc;
    color: black;
    padding: 40px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.overview-hero-image img {
    width: 25%; 
    height: auto;
    float: left;
    box-sizing: border-box;
}

.overview-hero-text{
    float: right;
    box-sizing: border-box;
    max-width: 60%;
}

.learn-about {
    background-color: #f9f9f9; 
    padding: 40px 0;
}

.cards {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px; 
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%; 
    height: auto; 
}

.testing {
    display: flex;
    background-color: #5c5f63;
    color: white;
    padding: 40px;
}

.testing-desciption {
    
    box-sizing: border-box;
    color: white;
    padding: 20px; 
    max-width: 60%; 
    text-align: left; 
}

.cta {
    flex: 0 0 calc(30% - 40px); 
    box-sizing: border-box;
    padding: 20px;
    text-align: right;
    position: relative;
}

.testing .btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    top: -150%;
    transform: translateY(-50%);
    right: 0;
}


.testing .btn:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

article {
    display: flex;
    align-items: center; 
}

article img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    margin-bottom: 20px;
    margin-right: 20px; 
}

.article-body {
    flex: 1; 
    text-align: left; 
    
}

.newsletter {
    background-color: #4CAF50;
    padding: 40px 0;
    text-align: center;

}

.newsletter .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px; 
    max-width: 40%; 
}

.newsletter .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.newsletter .form-group input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
}


.newsletter .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}

.newsletter .btn:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}
footer{
    background-color: #5c5f63;
    padding: 2px;
}