/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    padding: 20px;
    text-align: left;
}

h1{
    margin: 0%;
    padding: 0%;
    text-align: left;
}

h1, nav {
    display: inline-flex;
    vertical-align: middle;
}

nav{
    float: right;
}

ul {
    white-space: nowrap;
    list-style-type: none;
    padding: 0%;
}

ul li{
    display: inline;
    float: right;
    margin-right: 20px;
}

.overview-hero {
    background-color: #bbcfdc; /* Replace this with the color of your choice */
    color: black;
    padding: 40px 0; /* Adjust the padding as needed */
    box-sizing: border-box;
    overflow: hidden;
}

.overview-hero-image img {
    width: 25%; /* Set the width to 100% to make the image fill its container */
    height: auto; /* Maintain the aspect ratio of the image */
    float: left;
    box-sizing: border-box;
}

.overview-hero-text{
    float: right;
    box-sizing: border-box;
    max-width: 60%;
}