/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    padding: 20px;
    text-align: left;
}

h1{
    margin: 0%;
    padding: 0%;
    text-align: left;
}

h1, nav {
    display: inline-flex;
    vertical-align: middle;
}

nav{
    float: right;
}

ul {
    white-space: nowrap;
    list-style-type: none;
    padding: 0%;
}

ul li{
    display: inline;
    float: right;
    margin-right: 20px;
}